<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>NUSANET - Personal Locator</title>
    <meta charset="utf-8">
    <meta name="title" content="Personal Locator" />
    <meta name="description" content="Hosting and Colocation Provider" />
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#314495"/>
    <meta name="msapplication-navbutton-color" content="#314495"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#314495"/>
    <meta property="og:title" content="Personal Locator" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/style.css">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    
  </head>
  <body>
    
  {{{body}}}
  
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>